// ======================================
//  Mixins
// ======================================

// Button Background Colors
@mixin btn-background($btn-background) {
    @extend .btn;
    background-color: $btn-background;

    &:hover {
        background: lighten($btn-background, 10%);
        transition: all 0.3s ease;
    }
}

// Theme Colors
@mixin themes($col-background) {
    @extend .theme;
    background-color: $col-background;
}

// Media Queries
@mixin mq ($break) {
    @if map-has-key($breakpoint, $break) {
        @media (min-width: map-get($breakpoint, $break)) {
            @content;
        }
    }
    @else {
        @warn "'#{$break}' is not a valid breakpoint name.";
    }
}

