// ======================================
//  Buttons
// ======================================

.btn {
    margin-top: 15px;
    width: $max-width;
    color: $white;
    border: none;
    padding: $gutter 0;
    text-transform: uppercase;
    border-radius: 5px;
}

.default {
    @include btn-background($default);
}

.error {
    @include btn-background($error);
}

.info {
    @include btn-background($info);
}

.success {
    @include btn-background($success);
}

.warning {
    @include btn-background($warning);
}



