// ======================================
//  Forms
// ======================================

.form {
    flex-basis: $max-flex;
}

.input {
    display: $block-display;
    width: 94%;
    margin: $gutter $margin-auto 0;
    border: none;
    padding: $gutter;
    border-bottom: 5px solid $aquamarine;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: $margin-auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}