// ======================================
//  Grid
// ======================================
.container {
    padding: 0 $gutter;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em $gutter;
}

[class^=col] {
    margin-top: $gutter;
    flex-basis: $max-flex;
    min-height: 25px;
    padding: $gutter;
    border-radius: 5px;
}

.theme.col-1 {
    @include themes($theme-1);
}

.theme.col-2 {
    @include themes($theme-2);
}

.theme.col-3 {
    @include themes($theme-3);
}

.theme.col-4 {
    @include themes($theme-4);
}

.theme.col-5 {
    @include themes($theme-5);
}

.theme.col-6 {
    @include themes($theme-6);
}

.theme.col-7 {
    @include themes($theme-7);
}

.theme.col-8 {
    @include themes($theme-8);
}

.theme.col-9 {
    @include themes($theme-9);
}

.theme.col-10 {
    @include themes($theme-10);
}

.theme.col-11 {
    @include themes($theme-11);
}

.theme.col-12 {
    @include themes($theme-12);
}

.card {
    flex-basis: $max-flex;
}

// ======================================
//  Media Queries
// ======================================

@include mq('dt') {

    .container {
        max-width: 1400px;
        display: $block-display;
        margin-left: $margin-auto;
        margin-right: $margin-auto;
    }

    .centered {
        display: $block-display;
        margin-left: $margin-auto;
        margin-right: $margin-auto;
    }

    .row {
        flex-direction: row;
    }

    [class^=col] {
        display: flex;
        justify-content: $align-center;
        margin-top: 0;
        align-items: $align-center;
    }

    [class^=col] + [class^=col] {
        margin-left: $gutter;
    }

    .col-1 {
        flex-basis: 8.33%;
    }

    .col-2 {
        flex-basis: 16.67%;
    }

    .col-3 {
        flex-basis: 25.00%;
    }

    .col-4 {
        flex-basis: 33.33%;
    }

    .col-5 {
        flex-basis: 41.67%;
    }

    .col-6 {
        flex-basis: 50.00%;
    }

    .col-7 {
        flex-basis: 58.33%;
    }

    .col-8 {
        flex-basis: 66.67%;
    }

    .col-9 {
        flex-basis: 75.00%
    }

    .col-10 {
        flex-basis: 83.33%;
    }

    .col-11 {
        flex-basis: 91.67%;
    }

    .col-12 {
        flex-basis: $max-flex;
    }

    .nav {
        flex-direction: row;
        justify-content: flex-end;
        align-items: $align-center;
    }

    .nav-link {
        flex-basis: 100px;
    }

    .btn {
        padding: $gutter 30px;
    }

    .btn + .btn {
        margin-left: $gutter;
    }

    .logo {
        margin-left: initial;
        margin-right: initial;
    }
}