// ======================================
//  Images
// ======================================

.img-avatar {
    display: $block-display;
    margin-left: $margin-auto;
    margin-right: $margin-auto;
    margin-top: $gutter;
    max-width: $max-width;
    max-height: $max-height;
}

.img-frame {
    display: $block-display;
    margin-left: $margin-auto;
    margin-right: $margin-auto;
    margin-top: $gutter;
    max-width: $max-width;
    padding: 13px;
    border: 1px solid $silver;
}

.img-logo {
    display: $block-display;
    margin-left: $margin-auto;
    margin-right: $margin-auto;
}