// ======================================
//  Navigation
// ======================================

.nav {
    padding-left: 0;
    flex-basis: $max-flex;
    display: flex;
    flex-direction: column;
}

.nav-link {
    text-align: $align-center;
    border-radius: 5px;
    padding: $gutter 0;
    display: $block-display;
    width: $max-width;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.nav-link:hover {
    color: $white;
    background-color: $aquamarine;
}