// ======================================
//  Base Styles
// ======================================

* {
    font-family: $font-stack-primary;
    color: $gray;
    box-sizing: $box-border;
}

p {
    line-height: $p-height;
}

a {
    text-decoration: $link-decoration;
}

