// ======================================
//  Typography
// ======================================

.headline-primary {
    color: $aquamarine;
    margin-left: $gutter;
}

.headline-secondary {
    font-weight: $primary-font-weight;
    color: $gray;
}

.link {
    color: $aqua;
    font-weight: $link-weight;
}

.blockquote {
    font-size: 1.5em;
    font-weight: $primary-font-weight;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $aquamarine;
    border-radius: 5px;
}